.addBuyerModalMainDiv {
  padding: 0 35px;
}
.inputCol {
  margin-bottom: 18px;
}
.btnCol {
  display: flex;
  justify-content: center;
}
.btnCol button {
  font-size: 16px;
  border-radius: 10px;
  padding: 8px 24px;
}
.mapInput div {
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 5px 2px !important;
  border-radius: 10px !important;
  border: none !important;
}
