.mainContainer {
  padding: 15px;
  height: calc(100vh - 79px);
}

.listing_head {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

.listing_head h4 {
  font-family: "Bebas-Neue-bold";
  font-size: 35px;
  color: #242342;
  margin-bottom: 0;
}

.phoneNumber {
  cursor: pointer;
  font-family: "Open-Sans-medium";
  font-size: 14px;
  color: var(--dashboard-text-color);
  text-transform: capitalize;
  text-decoration: underline;
}

.actions_btn {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.detail_btn {
  padding: 10px;
}

.edit_btn {
  padding: 0 20px;
  background-color: transparent;
  color: var(--text-color-black);
  border: 1px solid #d4d4d4;
}

.paginationDiv {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px 20px 30px;
}

.teamMemberImgDiv {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  border: 1px solid #707070;
  position: absolute;
  top: -22px;
  background: #d6d6d6;
}

.teamMemberImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}

.countMember {
  position: absolute;
  left: 90px;
  top: -7px;
  font-size: 12px;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #707070;
  background: #d6d6d6;
}

.userImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text1Line {
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.emailText {
  font-family: "Open-Sans-medium";
  font-size: 14px;
  color: var(--dashboard-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 0;
  text-transform: lowercase;
}
