.main_container {
  padding: 40px 30px;
  height: calc(100vh - 79px) !important;
  overflow-y: scroll;
}

.mainHeading_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainHeading_row h4 {
  font-family: "Open-Sans-bold";
  color: var(--dashboard-main-color);
  margin-bottom: 0;
}

.content_main {
  margin-top: 20px;
}

.userDetail_sideBar {
  background-color: var(--white-color);
  box-shadow: 0px 5px 25px #52575d1a;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxWithShadow {
  box-shadow: 0px 5px 25px #52575d1a;
  background-color: var(--white-color);
  border-radius: 20px;
}

.detailsBox {
  height: 100%;
  padding: 30px;
}

.btnsBox button:last-child {
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.img_main {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #d6d6d6;
  background: #d6d6d6;
}

.img_main img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.userDetail_sideBar h4 {
  font-family: "Open-Sans-bold";
  color: var(--dashboard-main-color);
  font-size: 24px !important;
  margin-top: 16px;
  text-transform: capitalize;
}

.userDetail_sideBar p {
  color: var(--label-color);
  line-height: 18px;
}

.top {
  text-align: center;
  padding: 20px;
}

.hr_line {
  border-bottom: 1px solid #b5b5b5;
}

.bottom {
  text-align: left;
  padding: 20px;
}

.bottom_content h6 {
  font-size: 20px !important;
  font-family: "Open-Sans-bold" !important;
}

.bottom_content {
  margin-bottom: 20px;
}

.bottom_content p {
  color: var(--label-color);
  font-size: 17px !important;
}

.mainContainer {
  padding: 15px;
}

.headerContainer {
  padding: 10px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer h3 {
  font-family: "Open-Sans-bold" !important;
  font-size: 25px;
  color: var(--dashboard-main-color);
}

.tableMain_two {
  margin-top: 20px;
}

.titleWithValue {
  margin-bottom: 30px;
}
.notesIcon {
  margin: 0 4px;
}
.editProfileDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.addNotesBtn {
  padding: 10px;
  border-radius: 8px;
}
.editProfileBtn {
  background: transparent;
  padding: 0;
  margin-top: 7px;
}

.titleWithValue h6 {
  font-size: 18px;
  color: var(--dashboard-main-color);
}

.titleWithValue p {
  font-size: 16px;
  color: var(--text-color-black);
}

.toggleBtnMain {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.paginationDiv {
  padding-top: 10px;
}

.interestedListingTitle {
  font-family: "Open-Sans-medium";
  font-size: 14px;
  color: var(--dashboard-text-color);
  text-transform: capitalize;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ndaSignedColor {
  background-color: #cdf0cd !important;
  color: green !important;
}

.notInterested {
  background-color: #ff000036 !important;
  color: red !important;
}

.ndaSubmit {
  background-color: #ffa5003b !important;
  color: orange;
}

.underNegotiation {
  background-color: #bedae3 !important;
  color: #2155a5f5 !important;
}

.sold {
  background-color: #ffff0061 !important;
}

.underContract {
  background-color: #2a6274a1 !important;
  color: #0c445e !important;
}

.inquired {
  background-color: #80808061 !important;
  color: #707070 !important;
}

.closed {
  background-color: #7c09ff4a !important;
  color: #7c09ffb3 !important;
}

.colorDiv {
  padding: 10px;
  border-radius: 8px;
}

.btnContainer {
  background: var(--dashboard-main-color);
  margin-right: 5px;
  border-radius: 10px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.btnContainer svg {
  cursor: pointer !important;
}

.pdfDownloadIcon {
  cursor: pointer;
}

@media screen and (max-width: 1480px) {
  .img_main {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 1336px) {
  .img_main {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 1270px) {
  .img_main {
    width: 130px;
    height: 130px;
  }

  .userDetail_sideBar h4 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1199px) {
  .img_main {
    width: 110px;
    height: 110px;
  }

  .userDetail_sideBar h4 {
    font-size: 19px !important;
  }
}
